body{
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4 , 1fr);
  place-items: center center;
}

.card{
  width: 60%;
  height: 80%;
  border: 2px solid black;
}

.card.hide{
  visibility: hidden;
}